.unordered {
    background: #af0cff;
    padding: 20px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    line-height: 170%;
}
.unordered li {
    background: #D888FF;
    margin: 5px;
}
.nested-ul {
    background: #eecbff;
    margin: 5px;
    list-style-type: disc;
}